/* .header {
  height: 8rem;

  .flex-container {
    background: theme("colors.primary");
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
    menu {
      &.mobile {
        display: block;
        @media (min-width: 768px) {
          display: none;
        }
      }
      &.desktop {
        display: none;
        @media (min-width: 768px) {
          display: flex;
        }
      }
    }
    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;

      @media (min-width: 768px) {
        flex-direction: row-reverse;
      }
      .image {
        height: 64px;
        width: 64px;
        border-radius: 1rem;
      }
    }
  }
} */
