<mat-toolbar class="h-32" id="header">
  <mat-toolbar-row class="flex justify-between !h-full !items-center bg-primary sm:!flex-row-reverse">
<!--
    <menu class="block sm:hidden">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </menu>
    <menu class="hidden sm:flex">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </menu>
-->
    <figure class="flex items-center gap-4 md:flex-row-reverse">
      <figcaption>Churrascometro</figcaption>
      <img src="../../../assets/logo.jpg" class="size-16 rounded-2xl" alt="barbecue logo" />
    </figure>
  </mat-toolbar-row>
</mat-toolbar>
