<section id="section-form" class="bg-red-300 min-h[calc(100vh-400px)] p-10">
  <!-- on idle, timer, viewport, interaction, hover, immediate, prefetch -->
  @defer(on interaction(trigger)) 
  {
    <app-preco-formulario/>
  } @placeholder {
    <p #trigger>Mostrar antes do carregamento</p>
  } @loading {
    <p>Loading ...</p>
  } @error {
    <p>Erro ao carregar componente</p>
  }

  <!-- @defer(when condition) 
  {
    <app-preco-formulario/>
  } @placeholder(minimum 1000ms) {
    <p #trigger>Mostrar antes do carregamento</p>
  } @loading(after 150ms; minimum 1000ms) {
    <p>Loading ...</p>
  } @error {
    <p>Erro ao carregar componente</p>
  } -->
  
</section>

<section id="section-end">
  <div class="flex justify-end">
    <button mat-flat-button (click)="rolarToSection('header')">
      Rolar para o topo!
    </button>
  </div>
</section>
