<div class="table-container">
    <div class="flex justify-between items-center">
        <h1 class="inline-flex text-2xl font-bold mb-4">Lista de {{ produto | titlecase }}</h1>
        <button mat-flat-button color="primary" (click)="navegarParaCriacao()">+</button>
    </div>
    @if(items.length > 0) {
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço por {{ produto === 'carnes' ? 'Kg' : 'Unidade' }}</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track item.id) {
                    <tr class="cursor-pointer" (click)="navegarParaEdicao(item.id)">
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.preco_kg ? (item.preco_kg | currency : "BRL") : item.preco_unidade | currency : "BRL" }}</td>
                    </tr>
                }
            </tbody>
        </table>
    } @else {
        <p>Nenhum item encontrado</p>
    }
</div>
