<section id="section-start">
  <div class="text-center">
    <h1 class="my-6 text-3xl font-bold">{{ welcomeMessage }}</h1>

    <button mat-raised-button color="primary" class="button-start mb-6" (click)="rolarToSection('form-container')">
      Vamos começar!
    </button>
  </div>
</section>

<section id="section-form" class="bg-red-300 min-h[calc(100vh-400px)] p-10">
  <app-preco-formulario></app-preco-formulario>
</section>

<section id="section-end">
  <div class="flex justify-end">
    <button mat-flat-button (click)="rolarToSection('header')">Rolar para o topo!</button>
  </div>
</section>
